<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                              aria-hidden="true"></span> Home</a></li>
                <li><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                              aria-hidden="true"></span> About</a></li>
                <li><a ui-sref="app.contactus">
                    <i class="fa fa-envelope-o"></i> Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="app.login">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>